@import "./main.css";

body {
  width: 100vw;
}

main {
  margin: 3rem 2rem;
  padding: 2rem;
}

header > img {
  width: 100%;
  margin: 0 auto;
}

p {
  margin-bottom: 0;
  margin-top: 1rem;
}

a {
  text-decoration: none;
  color: #e06322;
}

a:visited {
  color: #74533e;
}

a:hover {
  color: #fab885;
}

a:focus,
a:active {
  color: #fab885;
}

.main-container {
  /* border: 2px solid #211E52; */
  width: 100%;
}

/* .language-columns {
  display: grid;
  grid-template-rows: 1fr 1fr;
} */

.column {
  padding: 1rem;
}

.bold {
  font-weight: bold;
}

table {
  width: 400px;
  border-collapse: collapse;
  margin: 1rem 0;
  border: 1px solid #e06322;
}

th {
  background-color: #e06322;
  color: #f8f8f8;
}

th,
td {
  font-weight: bold;
  padding: 0.5rem;
  text-align: left;
}

hr {
  width: 50px;
  border: none;
  border-top: 5px dotted #e06322;
}

/* .payment-info {
  width: 320px;
  margin: 1rem 0;
  border: 1px solid #211E52;
} */

.payment-info > .row {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.row > div {
  font-weight: bold;
  padding: 0.5rem;
  text-align: left;
}

.row-header {
  background-color: #e06322;
  color: #f8f8f8;
}

.topic {
  margin: 2rem auto;
}

.topic > h2 {
  text-align: center;
}

.center-block {
  display: block;
  margin: 0 auto;
}
