@import './base.css';

a, a:visited {
  text-decoration: none;
  color: rgb(40, 86, 40);
}


.hidden {
  display: none;
}

.flex-container {
  display: flex;
}

.flex-item {
  flex-grow: 1;
  flex-shrink: 1;
  padding: 1rem;
}

.flex-basis-40 {
  flex-basis: 40%;
}