/* color definitions */
:root {
  --white: #ffffff;
  --white-soft: #f8f8f8;
  --white-mute: #f2f2f2;

  --black: #181818;
  --black-soft: #222222;
  --black-mute: #282828;

  --accent-1: #F15F53;
  --accent-2: #F8F3A0;
  --accent-3: #C5DAD9;
  --accent-4: #1B696F;

  --accent-1-disabled: hsl(323, 100%, 10%, 50%);

  --dark-1: #211E52;
  --dark-2: #2D2872;

  --light: #C6C5CD;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--white);
  --color-background-soft: var(--white-soft);
  --color-background-mute: var(--white-mute);
  --color-background-alt: var(--accent-1);

  --color-text: var(--black);
  --color-text-soft: var(--black-soft);
  --color-text-mute: var(--black-mute);
  --color-text-alt: var(--white-soft);
  --color-text-accent: var(--accent-1);
  
  --section-gap: 60px;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--black);
    --color-background-soft: var(--black-soft);
    --color-background-mute: var(--black-mute);
    --color-background-alt: var(--light);
    
    --color-text: var(--white);
    --color-text-soft: var(--white-soft);
    --color-text-mute: var(--white-mute);
    --color-text-alt: var(--dark-1);
    --color-text-accent: var(--dark-1);
  }
} */

@font-face {
  font-family: "Cera Pro";
  src:
    local("Cera Pro"),
    url("/fonts/Cera Pro Medium.otf") format("opentype")
}

@font-face {
  font-family: "Cera Pro Bold";
  src:
    local("Cera Pro Bold"),
    url("/fonts/Cera Pro Bold.otf") format("opentype")
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  line-height: 1.6;
  font-family: Cera Pro;
  font-size: 16px;
  background-color: var(--color-background);
  color: var(--color-text);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-bottom: 200px;
}
